@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);
* {
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
     font-family: 'Montserrat',sans-serif;
}
body {
     display: flex;
     align-items: center;
     justify-content: center;
     min-height: 100vh;
     background-color:#5f41e4;
}
.container {
     flex-grow: 1;
     overflow: hidden;
     max-width: 425px;
     border-radius: 10px;
     position: relative;
     background-color:#fff;
     box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
}
.search-section {
     display: flex;
     align-items: center;
     gap: 10px;
     padding: 25px;
}
.search-section .input-wrapper {
     width: 100%;
     height: 54px;
     position: relative;
}
.search-section .input-wrapper span {
     position: absolute;
     top: 50%;
     left: 17px;
     transform: translateY(-50%);
     pointer-events: none;
}
.search-section .search-input {
     width: 100%;
     height: 100%;
     border: 1px solid #beb0ff;
     border-radius: 6px;
     outline: none;
     font-size: 1rem;
     font-weight: 500;
     text-transform: uppercase;
     padding: 0px 20px 0px 50px;
     background-color:#fff;
     transition: 0.1s ease;
}
.search-section .search-input:focus {
     border-color:#5f41e4;
     box-shadow: 0px 0px 5px rgba(0,0,0,0.14);
}
.search-section .search-input::placeholder {
     text-transform: none;
}
.search-section .location-button {
     width: 56px;
     height: 54px;
     cursor: pointer;
     display: flex;
     flex-shrink: 0;
     align-items: center;
     justify-content: center;
     border: 1px solid #beb0ff;
     border-radius: 5px;
     background-color:#fff;
     color:#5f41e4;
     transition: 0.3s ease;
}
.search-section .location-button:hover {
     background-color:#5f41e4;
     color:#fff;
     border-color:#5f41e4;
}
.search-section .location-button span {
     font-size: 1.3rem;
}
.no-result {
     position: absolute;
     top: 50%;
     left: 50%;
     width: 100%;
     padding: 40px;
     display: none;
     flex-direction: column;
     align-items: center;
     text-align: center;
     transform: translate(-50%,-50%);
     transition: 0.2s ease;
}
body.show-no-results .no-results {
     display: flex;
}
.no-result .title {
     font-weight: 700;
     margin: 25px 0px 15px;
}
.no-result .message {
     font-weight: 500;
     line-height: 23px;
}
body.show-no-results .weather-section {
     visibility: hidden;
}
.weather-section .current-weather {
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 20px 0px 50px;
}
.current-weather .weather-icon {
     width: 140px;
     aspect-ratio: 1;
}
.current-weather .temperature {
     font-size: 3.33rem;
     margin: 23px 0px;
     display: flex;
}
.current-weather .temperature span {
     font-size: 1.56rem;
     font-weight: 500;
     margin: 5px 0px 0px 2px;
}
.current-weather .description {
     font-size: 1.25rem;
     font-weight: 500;
}
.hourly-weather {
     padding: 16px 25px;
     border-top: 1px solid #d5ccff;
}
.hourly-weather .weather-list {
     display: flex;
     gap: 41px;
     overflow-x: auto;
     margin-bottom: -16px;
     padding-bottom: 16px;
     scrollbar-width: thin;
     scrollbar-color: transparent transparent;
}
.hourly-weather:hover .weather-list {
     scrollbar-color:#bfbfbf transparent;
}
.hourly-weather .weather-list .weather-item {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 7px;
     width: 60px;
     font-weight: 500;
}
.hourly-weather .weather-item .weather-icon {
     width: 28px;
     aspect-ratio: 1;
}
@media only screen and (max-width:624px){
     body {
          padding: 15px;
     }
     .search-section {
          padding: 20px;
     }
     .no-results {
          padding: 30px;
     }
     .hourly-weather {
          padding: 16px 20px;
     }
     .hourly-weather .weather-list {
          gap: 32px;
     }
}